.img1{
    display: block;
     visibility: visible;
}
.table{
    padding-left: 400px;
}
h2{
    padding-left: 100px;
}
h1{
    padding-left: 650px;
}
.td1{
    padding-right: 100px;
}